body {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  margin: 0;
  padding: 0;
  padding-bottom: 94px;
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}
:root {
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #fff;
  --dark-background: #2f303a;
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-font-size: 26px;
  --project-title-size: 18px;
  --project-discription-size: 16px;
  --primary-font-size: 14px;
  --hero-font-weight: 900;
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --title-text-color: #212121;
  --secondary-text-color: #757575;

  --regular-font-weight: 400;
}
/* !!! ------------------------------------- !!!*/
/* !!! ------------------ HEADER------------------- !!!*/
/* !!! ------------------------------------- !!!*/
.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
.header .container {
  align-items: center;
  display: flex;
}
/* !!! ------------------ LOGO ------------------ !!! */
.head-logo {
  font-family: var(--logo-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--logo-font-size);
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.03em;
  margin-right: 94px;
}
.span-logo {
  color: var(--accent-color);
}
.footer-logo {
  color: var(--primary-white-color);
}
/* !!! ------------------ NAV ------------------ !!! */
.nav-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-ul {
  display: flex;
  list-style: none;
}
.nav-list-item {
  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.activity {
  color: var(--accent-color);
}
.activity:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}
/* !!! ------------------ CONTACTS ------------------ !!! */
.head-contacts {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
.head-list-item-contacts:not(:last-child) {
  margin-right: 50px;
}
.head-contacts-link {
  text-decoration: none;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-contacts-link:hover,
.head-contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.head-contacts-link {
  display: flex;
  align-items: center;
  padding: 2px 0;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
  margin-right: 7px;
}
.tel-icon {
  margin-right: 7px;
}

/* !!! ------------------ MAIN ------------------ !!!*/
.main {
  width: 100%;
}
/* !!! ------------------ MAIN-HEAD(STUDIO) ------------------ !!!*/
.main-hero-section {
  background-image: linear-gradient(to right, #2f303a60, #2f303a60),
    url(../image/main-bg-img.jpg);

  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 200px 0;
}
.main-hero-section .container {
  text-align: center;
}
.head-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.head-btn {
  align-items: center;
  margin-top: 30px;
  width: 215px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: var(--text-font);
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-btn:hover,
.head-btn:focus {
  background-color: var(--secondary-accent-color);
}
/* !!! ------------------ MAIN-FEATURES(STUDIO) ------------------ !!!*/
.features-section {
  padding-top: 94px;
}
.features-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list-item {
  width: 270px;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list-item-title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-list-item-discription {
  margin: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* !!! ------------------ MAIN-OCCUPATION(STUDIO) ------------------ !!!*/

.occupation-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.occupation-ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.occupation-img {
  position: relative;
}
.occupation-list-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-img-discription {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: #2f303acc;
  transform: translateY(-70px);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
/* !!! ------------------ MAIN-OUR-TEAM(STUDIO) ------------------ !!!*/
.portfolio-section {
  background-color: #f5f4fa;
  width: 100%;
}
.our-team-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-team-ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #fff;
}
.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}
.person-block {
  padding: 30px 0;
}
.person-link {
  text-decoration: none;
}
.person-title {
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.person-discription {
  font-size: 16px;
  color: #757575;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 16px;
}
.our-team-list_icon {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.our-team-link_icon {
  display: flex;
  text-decoration: none;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-list-item_icon:not(:last-child) {
  margin-right: 10px;
}
.our-team-link_icon:hover,
.our-team-link_icon:focus {
  background-color: var(--accent-color);
  fill: #fff;
}
/* !!!----------------- CLIENTAGE STUDY-------------------- !!!*/
.clientage-section {
  padding-top: 94px;
}
.clientage-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.clientage-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clientage-list-item {
  display: flex;
}
.clientage-list-item:not(:last-child) {
  margin-right: 30px;
}
.clientage-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clientage-link-icon:focus,
.clientage-link-icon:hover {
  border: 1px solid #2196f3;
}
.clientage-link-icon:focus,
.clientage-link-icon:hover .clientage-icon {
  fill: #2196f3;
}
.clientage-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

/* !!! ------------------ MAIN-FILTER(PORTFOLIO) ------------------ !!!*/
.portfolio-section {
  padding-top: 94px;
}
.ul-project-filter {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item {
  font-family: inherit;
  font-style: inherit;

  line-height: 1.625;
  letter-spacing: inherit;
  color: inherit;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-list-item button {
  font-weight: var(--medium-font-weight);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list-item button:hover,
button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
#filter-btn-all {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
#filter-btn-Web {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
#filter-btn-App {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
#filter-btn-Design {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
#filter-btn-Marketing {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
.portfolio-btn-name {
  margin: 0;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}

/* !!!------------- PORTFOLIO PROJECTS-------------------- !!!*/
.project-section {
  padding-top: 94px;
}
.project-ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  list-style: none;
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
}
.project-li {
  margin: 15px;
}
.project-li a {
  position: relative;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-li a:focus,
.project-li a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-li a:focus .project-hover-discription,
.project-li a:hover .project-hover-discription {
  transform: translateY(0%);
}

.project-text-block {
  border-bottom: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
  border-left: 1px #eeeeee solid;
  padding: 20px 24px;
}
.project-title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--project-title-size);
  line-height: 2;
}
.project-discription {
  margin: 0;
  font-size: var(--project-discription-size);
  line-height: 1.9;
  color: var(--secondary-text-color);
  font-weight: var(--regular-font-weight);
}

.project-img-hover-discription {
  overflow: hidden;
  position: relative;
}
.project-hover-discription {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: #2196f3e5;
  height: 294px;
  width: 370px;
}

/* !!! ------------------ FOOTER ------------------ !!! */
.footer {
  background-color: var(--dark-background);
  width: 100%;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  text-decoration: none;
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: var(--bold-font-weight);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
.footer-address-ul {
  margin: 0;
  padding: 0;
}
.address-list-item,
.contact-list-item {
  list-style: none;
}
.footer-address-link {
  text-decoration: none;
  color: var(--primary-white-color);

  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-link-mail,
.footer-link-num {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  opacity: 60%;
  text-decoration: none;
}
#contact-list-item {
  display: block;
  margin-top: 9px;
  margin-bottom: 6px;
}
.footer-social-content {
  margin-left: 93px;
}
.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.footer-list-item_icon:not(:last-child) {
  margin-right: 10px;
}
.footer-social-title {
  font-weight: var(--bold-font-weight);
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.footer-list_icon {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.footer-link_icon {
  display: flex;
  text-decoration: none;
  background-color: #ffffff10;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link_icon:focus,
.footer-link_icon:hover {
  background-color: var(--accent-color);
  fill: #fff;
}
/* ------------------- */
.footer-sending {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

/* --------- */
.footer-input {
}
.footer-sending-label {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.footer-sending-input {
  padding-left: 15px;
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid #ffffff4d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff60;
}

/* --------- */
.footer-send-btn {
  padding: 0;
  margin-left: 12px;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.tg-send {
  margin-left: 7px;
  fill: #fff;
}
/* !!! END FOOTER !!! */
.backdrop {
  opacity: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000020;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-win {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal-win {
  transform: translateY(200px);
}
.close-btn {
  display: flex;
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px #0000001a solid;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: #2196f3;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-h {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding: 12px 40px;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196f3;
}
.modal-icon {
  fill: #212121;
  display: flex;
  position: absolute;
  transform: translateY(-37px) translateX(10px);
  pointer-events: none;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-icon {
  fill: #2196f3;
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}
/* TEXTAREA */
.modal-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  resize: none;
  outline: none;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #2196f3;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0, 5);
}
/* Check-block */
.check-block {
}
/* LABEL */
.check-label {
  color: #757575;
  display: inline-flex;
  align-items: center;
}
/* INPUT CHECK BOX */
.modal-check-box {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.check-label + .modal-check-box {
  user-select: none;
}
.check-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 10px;
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-box:focus + .check-label::before {
  border: 1px solid #2196f3;
}

.modal-check-box:checked + .check-label::before {
  background-image: url(../image/cheked.png);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.check-label-link {
  margin-left: 4px;
  color: #2196f3;
}
/* SEND BTN */
.send {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #188ce8;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border: none;
}
.send:hover,
.send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
