
// Підключені scss 
@import "./sasscomponents/_page-header";
@import "./sasscomponents/_page-footer";
@import "./sasscomponents/_main-backdrop";

// Обнуление і загальні силі
body {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

h1,h2,h3,h4,h5,p,ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    margin: 0;
    padding: 0;
    padding-bottom: 94px;
    width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0px 15px;
}
:root {
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --primary-white-color: #fff;
    --dark-background: #2f303a;
    --text-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --logo-font-size: 26px;
    --project-title-size: 18px;
    --project-discription-size: 16px;
    --primary-font-size: 14px;
    --hero-font-weight: 900;
    --bold-font-weight: 700;
    --medium-font-weight: 500;
    --title-text-color: #212121;
    --secondary-text-color: #757575;

    --regular-font-weight: 400;
}

// Стилі для головної сторінки

// Загальні стилі для секцій
.main {
    width: 100%;
    .main__hero_section {
        background-image: linear-gradient(to right, #2f303a60, #2f303a60),
        url(../image/main-bg-img.jpg);
        background-repeat: no-repeat;
        max-width: 1600px;
        max-height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 200px 0;
}
    .main__features_section {padding-top: 94px;}
    .main__portfolio_section {
        background-color: #f5f4fa;
        width: 100%;
    }
    .main__clientage_section {padding-top: 94px;}
}
// Секція "Головного героя"
.main__hero_section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container {
    display: flex;
    align-items: baseline;
    // Заголовок 
    .hero__title {
        width: 696px;
        margin-right: auto;
        margin-left: auto;
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.25;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    // Кнопка "Замовити послугу"
    .hero__btn {
        align-items: center;
        margin-top: 30px;
        width: 215px;
        height: 50px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        font-family: var(--text-font);
        font-weight: var(--bold-font-weight);
        font-size: 16px;
        line-height: 1.9;
        cursor: pointer;
        letter-spacing: 0.06em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero__btn:hover,
    .hero__btn:focus {
        background-color: var(--secondary-accent-color);
    }
}
// Секція особливостей (Іконки)
.features__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.features__list-item {
    width: 270px;
    &:not(:last-child) {margin-right: 30px;}
    .features__icon {
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        background-color: #f5f4fa;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .features__list-item_title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
        }
    .features__list-item_discription {
        margin: 0;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        }
}
// Секція "Чим ми займаємось"
.main__occupation_section .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    .occupation__title {
        margin: 0;
        margin-bottom: 50px;
        font-weight: var(--bold-font-weight);
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        text-align: center;
        }
    .occupation__ul {
        display: flex;
        padding: 0;
        list-style: none;
        }
}

.main__occupation_list-item{
    .occupation__img {
        position: relative;
        }
    .occupation__img_discription {
        display: flex;
        position: absolute;
        width: 370px;
        height: 70px;
        background-color: #2f303acc;
        transform: translateY(-70px);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
}
// Секція портфоліо і соц. лінками
.main__portfolio_section {
    background-color: #f5f4fa;
    width: 100%;
    padding-top: 94px;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.container {
    .our-team__title {
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
        font-weight: var(--bold-font-weight);
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        }
    .our-team__ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        }
}
.our-team__list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #fff;
    &:not(:last-child) {margin-right: 30px;}
    .our-team__person_block{padding: 30px 0;}
}
.our-team__person_block{
    .our-team__person_title {
        font-weight: var(--medium-font-weight);
        font-size: 16px;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        }
    .our-team__person_discription {
        font-size: 16px;
        color: #757575;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin: 0;
        margin-bottom: 16px;
        }
    .our-team__list_icon {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
}
.our-team__list-item_icon{
    &:not(:last-child){margin-right: 10px;}
}
.our-team__link_icon{
    display: flex;
        text-decoration: none;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #afb1b8;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: #fff;
        }   
}

// Секція клієнтів (Іконки)
.main__clientage_section .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    .clientage__title {
        text-align: center;
        margin: 0;
        margin-bottom: 50px;        
        font-weight: var(--bold-font-weight);
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .clientage__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.clientage__list-item {
    display: flex;
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.clientage__link_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,&:hover {border: 1px solid #2196f3;}
    &:focus,&:hover .clientage__icon {fill: #2196f3;}
    .clientage__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #afb1b8;
    }
}
// Стилі для сторінки портфоліо 

.project__section {
    padding-top: 94px;
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
   

}
.container{
    // Таблиця робіт
    .project__list {
            display: flex;
            flex-wrap: wrap;
            margin: -20px;
            list-style: none;
            font-weight: var(--medium-font-weight);
            font-size: var(--primary-font-size);
        }
    
    // Навігаційне меню робіт (Фільтер)
    .project__list_filter {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-bottom: 50px;
    }
}
// Навіганійне меню портфоліо
.filter__list-item {
    font-family: inherit;
    font-style: inherit;
    line-height: 1.625;
    letter-spacing: inherit;
    color: inherit;
    &:not(:last-child) {
            margin-right: 8px;
        }
    button {
        font-weight: var(--medium-font-weight);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-color: #f5f4fa;
        padding: 6px 24px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    button:hover,
    button:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
    .portfolio__filter_btn {
        margin: 0;
        font-weight: var(--medium-font-weight);
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
        font-weight: var(--medium-font-weight);
        font-size: var(--primary-font-size);
    }
}
// Стилі робіт
.project__list-item {
    margin: 15px;
    a {
        position: relative;
        text-decoration: none;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & a:focus,
    & a:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    & a:focus .project__hover_discription,
    & a:hover .project__hover_discription {transform: translateY(0%);}
    a .project__discription {
        margin: 0;
        font-size: var(--project-discription-size);
        line-height: 1.9;
        color: var(--secondary-text-color);
        font-weight: var(--regular-font-weight);
    }
}
.project__hover_block{
    overflow: hidden;
    position: relative;
    .project__hover_discription {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(101%);
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        background-color: #2196f3e5;
        height: 294px;
        width: 370px;
    }
}
.project__block_text {
    border-bottom: 1px #eeeeee solid;
    border-right: 1px #eeeeee solid;
    border-left: 1px #eeeeee solid;
    padding: 20px 24px;
    .project__title {
        margin: 0;
        margin-bottom: 4px;
        color: var(--title-text-color);
        font-weight: var(--bold-font-weight);
        font-size: var(--project-title-size);
        line-height: 2;
    }
}